.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.m-20 {
  margin: 20px;
}
.m-15 {
  margin: 15px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.block {
  display: block;
}
.table {
  display: table;
}
.flex {
  display: flex;
}
.align-items {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-15 {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.mw-full {
  max-width: 100%;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .direction-mobile {
    flex-direction: column;
  }
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
.cursor-pointer {
  cursor: pointer;
}
